.link
  display: inline-block
  margin-top: 15px
  padding: 10px
  transition: all .2s
  border: 2px solid $blue
  border-radius: 5px
  color: $blue
  font-weight: 500

  &:hover
    border-color: lighten($blue, 10%)
    color: lighten($blue, 10%)
    text-decoration: none

